.Button {
  display: flex;
  align-items: center;
  font-size: var(--theme__text-base-font-size);
  text-align: left;
}

.Button > i {
  padding-left: 0.5em;
  font-size: var(--theme__text-base-font-size);
}
