:root {
  --theme__background-color: #263238;
  --theme__primary-color: #eceff1;
  --theme__text-colour: #eceff1;

  --h1-size: 2.4488em;
  --h2-size: 2.074em;
  --h3-size: 1.728em;
  --h4-size: 1.44em;
  --h5-size: 1.2em;
  --h6-size: 1em;
  --font-small: 0.83em;

  --p-size: var(--h5-size);

  --opacity-heavy: 0.9;
  --opacity-med: 0.7;
  --opacity-disabled: 0.42;

  --header-height: 4em;
}

body {
  background: var(--theme__background-color);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

h6,
label {
  font-size: var(--h6-size);
}

h1,
h2 {
  color: var(--theme__text-colour);
}

h3,
h4,
h5,
h6,
p,
span {
  color: var(--theme__text-colour);
  opacity: var(--opacity-heavy);
}

button {
  outline: none;
  background: var(--theme__text-colour);
  border: 2px solid transparent;
  color: var(#37474f);
  border-radius: 4px;
  padding: 0.5em 1em;
}

button:hover:not(:disabled),
button:focus:not(:disabled),
a:hover,
a:focus {
  cursor: pointer;
  opacity: var(--opacity-med);
  transition: opacity 0.2s ease-in-out;
}

button .primary {
  background: var(--theme__primary);
  border: none;
}

button.secondary {
  background: none;
  border-color: var(--theme__primary);
  color: var(--theme__primary);
}

button:disabled {
  opacity: var(--opacity-disabled);
}
